/* 자동정렬 : ctrl + alt + l */
/* inline-block(인라인블록) : div 속성 + 줄바꿈 없음(속성) */
/* 활용 : 세로배치 - > 가로배치 디자인 적용하고자 할때 사용 */
/* 예) ul - li(block 속성, 세로메뉴) - > 가로메뉴 (위의 속성 고려) */
.box {
  /* 가로크기 */
  width: 100px;
  /* 세로크기 */
  height: 100px;
  /* 배경색 */
  background-color: red;
  /* 바깥여백 */
  margin: 20px;
  /* display 속성 */
  display: inline-block;
}
.box2 {
  /* 가로크기 */
  width: 100px;
  /* 세로크기 */
  height: 100px;
  /* 배경색 */
  background-color: blue;
  /* 바깥여백 */
  margin: 20px;
  /* display 속성 */
  display: inline-block;
}
.box3 {
  /* 가로크기 */
  width: 100px;
  /* 세로크기 */
  height: 100px;
  /* 배경색 */
  background-color: yellow;
  /* 바깥여백 */
  margin: 20px;
  /* display 속성 */
  display: inline-block;
}
