li{
    /* 앞에 점 없애기 */
    list-style-type: none;
    
}
/* 세로 메뉴 디자인 */
#v_menu{

    margin: 15px;
    /* 가로 */
    width: 150px;
}
/* 후손선택자 */
#v_menu li{
    /* 외각선-아래 */
    /* border-bottom: 선두깨, 선스타일, 선색깔 */
    border-bottom: 1px dotted black;
    padding: 5px;
}

.menus{
    /* 글자 색 */
    color: green;
}
/* 가로 메뉴 디자인 */
/* 후손 선택자 */
#h_menu li{
    /* 디스플레이: 가로 배치 */
    display: inline-block;
    /* 바깥 여백 */
    margin: 10px;
}