table,tr,td, th{
    /* 외곽선: border: 선두께 선스타일 선색상 */
    border: 1px solid black;
    /* 안쪽 여백 */
    padding: 8px;
    /* 테이블 선사이 간격 붙이기 속성 (me)*/
    border-collapse: collapse;
    /*  */


    
}



