/* 문제 풀이 */
/* 코딩용어 : ;(세미콜론), :(콜론), /(슬래쉬), \(역슬래쉬) */
h3 {
    /* 외곽선 */
    /* border-left: 선두께 선스타일 색깔; */
    border-left: 5px solid blue;
    /* 바깥여백 */
    margin: 20px;
    /* 안쪽여백 */
    padding-left: 10px;
}

p {
    /* 바깥여백 - 왼쪽 */
    margin-left: 30px;
    /* 바깥여백 - 아래쪽 */
    margin-bottom: 10px;
}

ul {
    /* 외곽선 - 위쪽 */
    border-top: 1px solid gray;
    /* 외곽선 - 아래쪽 */
    border-bottom: 1px solid gray;
    /* 바깥여백 - 외쪽 */
    margin-left: 45px;
    /* 안쪽여백 - 위쪽 */
    padding-top: 5px;
    /* 안쪽여백 - 아래쪽 */
    padding-bottom: 8px;
}

li {
    /* 안쪽 여백 - 위쪽 */
    padding-top: 10px;
    /* 바깥 여백 - 왼쪽 */
    margin-left: 20px;
}