@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Moirai+One&family=Nanum+Pen+Script&display=swap');

/* Header.css */
#header {
    width: 100%;
}

/* 사이트 명 */
#name h1{
    font-family: 'Moirai One', cursive;
    font-size: 30px;
}

/* 사이트 제목 */
#name {
    margin: 30px;
    float: left;
}

/* 윗 메뉴 */
.topMenubar > .topMenu{
    border: 1px solid red;
    text-decoration: none;
    float: right;
    margin-top: 72px;
    margin-right: 20px;
    /* margin: 20px; */
    color: black;
}

/* float 영향 지우기  */
.clearfix {
    clear: both;
}

#nav {
    background-color: black;
    width: 100%;
    height: 70px;
}

/* 왼쪽 메뉴 */
.menu {
    float: left;
    /* background-color: aqua; */
}

/* 목록 태그(li) */
.menu > .navManu {
    display: inline-block;
    margin-left: 20px;
}
/* 메뉴 링크 */
.menu > .navManu > .link {
    color: blue;
    text-decoration: none;
    line-height: 70px;
}

/* 오른쪽 검색창 */
.search {
    float: right;
    /* line-height: 70px; */
    padding-right: 10px;
    padding-top: 20px;
}

/* 오른쪽 검색창 입력양식 */
.search > input {
    height: 25px;
    width: 180px;
}
/* 오른쪽 검색창 버튼 */
.search > button {
    height: 30px;
    

}